.round-button {
  width:25%;
}
.round-button-circle {
  width: 65%;
  height:0;
  padding-bottom: 65%;
  border-radius: 50%;
  overflow:hidden;

  background: #4679BD;
  box-shadow: 0 0 3px gray;
}
.round-button-circle:hover {
  background:#30588e;
}
.round-button a {
  display:block;
  float:left;
  width:100%;
  padding-top:50%;
  padding-bottom:50%;
  line-height:1em;
  margin-top:-0.5em;

  text-align:center;
  color:#e2eaf3;
  font-family:Verdana;
  font-size:1.2em;
  font-weight:bold;
  text-decoration:none;
}

body{
  padding:20px 20px;
}

.results tr[visible='false'],
.no-result{
  display:none;
}

.results tr[visible='true']{
  display:table-row;
}

.counter{
  padding:8px;
  color:#ccc;
}

.poz{
  position: absolute;
  bottom: 5px;
  right: 10px;
}
